body {
  background: #2c2e31 !important;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root {
  margin: 0 auto;
  max-width: 1200px;
  padding: 2rem;
}
.text-light {
  color: #e8eaed;
}
.bg-light {
  background-color: #e8eaed !important;
}
.light-border {
  border: 1px solid #ffffff4d !important;
}

.card-form {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.card-form input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
}
.card-form button {
  background-color: #3c3c3c;
  border: none;
  line-height: 0;
  border-radius: 8px;
}

.card-element {
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.card-title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-top: 0.9rem;
}

.card-element:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-description {
  font-size: 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.btn-remove {
  top: 8px;
  right: 8px;
  line-height: 0;
  background: #555;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-remove:hover {
  background: #ff1c1c;
  color: #fff;
}
.btn-save {
  background-color: #8ee09c !important;
  color: #0a0a0a !important;
}
.btn-save:hover {
  background-color: #2cce47 !important;
}
.editable-input {
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  color: #e8eaed;
  padding: 0.5rem;
  resize: vertical;
  outline: none;
}

.editable-input:focus {
  background-color: transparent !important;
  border-color: #ffffff80 !important;
  box-shadow: none !important;
  outline: none !important;
}
.masonry-grid {
  display: flex;

  width: auto;
}
.masonry-grid_column {
  background-clip: padding-box;
}
.masonry-grid_column > * {
  margin-bottom: 1rem;
}
.card-element {
  cursor: grab;
}
.card-element:active {
  cursor: grabbing;
}
